*,
*::after
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f8f6fa;
}

:root {
  --fs-sm-h1: ;
  --fs-sm-400: 1rem;
  --fs-lg: ;
  --fs-xxl: ;
  --fs-600: 1.875rem;
}

canvas {
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

div.btnbg {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 0px 15px #ccc;
          box-shadow: 0px 0px 15px #ccc;
}

div.btnbg:hover {
  text-shadow: 0px 0px 3px #ccc;
  -webkit-box-shadow: 0px 0px 20px #ccc;
          box-shadow: 0px 0px 20px #ccc;
}

.button-goods {
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  padding-block: 1rem;
  max-width: 320px;
  width: 100%;
  background-color: #ff0000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

a:hover.button-goods {
  color: #fff;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.text-item {
  font-size: var(--fs-sm-400);
  text-align: left;
}

.h3-title {
  font-size: var(--fs-600);
  font-weight: 900;
  text-align: center;
}

.header,
.whom,
.mentor,
.offer,
.questions,
.why-me {
  border-bottom: 1px solid rgba(89, 89, 89, 0.15);
}

.my-services {
  padding-bottom: 4rem !important;
}

.banner-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-button img {
  max-width: 300px;
  margin: 0 auto;
}

.banner-button a.button-goods {
  margin: 0 auto;
}

.banner-mt {
  margin-top: 10px;
}

.person-title {
  width: 100%;
  background: transparent;
  color: #111;
  font-weight: 600;
  border: 2px solid #111;
  text-align: center;
  border-radius: 5px;
}

.header {
  background-image: url("../src/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 10px;
  padding-bottom: 50px;
}

.header .logo-holder img {
  margin-left: 15px;
  width: 120px;
}

.header .header-title {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 45px;
  margin-bottom: 0.5rem;
  line-height: 1.3;
  font-weight: 1000;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ff0000;
}

.header .header-subtitle {
  text-align: center;
  max-width: 290px;
  font-size: 0.85rem;
  margin: 0 auto;
  font-weight: 600;
}

.banner-right {
  display: none;
}

@media screen and (min-width: 425px) {
  .header .header-subtitle {
    max-width: unset;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    height: 100vh;
    max-height: 799px;
    padding-bottom: 0;
  }
  .header .logo-holder img {
    margin-left: 0;
    width: 180px;
  }
  .header .header-title {
    font-size: 2rem;
    margin-bottom: 0.9rem;
  }
  .header .header-subtitle {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  .header .button-goods {
    max-width: 260px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .banner .banner-left {
    padding-top: 3rem;
    width: 55vw;
  }
  .banner .banner-left img {
    display: none;
  }
  .banner .banner-left *:not(.button-goods) {
    text-align: left;
  }
  .banner .banner-left .button-goods {
    margin: 0;
  }
  .banner .banner-right {
    display: block;
  }
  .banner .banner-right img {
    max-width: 580px;
    width: 34vw;
  }
}

@media screen and (min-width: 1300px) {
  .header .header-title {
    font-size: 2.5rem;
  }
  .header .header-subtitle {
    font-size: 1.3rem;
  }
  .banner .banner-left {
    padding-top: 6rem;
  }
  .banner-right-img {
    width: 38vw;
  }
}

.whom {
  padding-block: 3rem;
}

.whom .container {
  text-align: center;
}

.whom .whom-holder {
  display: inline-block;
}

.whom .whom-title {
  margin-bottom: 1.5rem;
}

.whom .whom-list {
  margin-bottom: 2rem;
}

.whom .whom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whom .whom-item + .whom-item {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
}

.whom .whom-text {
  font-weight: 600;
}

.whom .img-checked {
  width: 35px;
}

.mentor {
  padding-block: 3rem;
  text-align: center;
}

.mentor .mentor-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mentor .mentor-list {
  width: 100%;
  max-width: 450px;
  margin: 1.5rem auto 0;
}

.mentor .mentor-title {
  margin-bottom: 1.4rem;
}

.mentor .img-holder {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
}

.mentor .img-holder img {
  width: 90%;
  max-width: 400px;
}

.mentor .img-holder p {
  position: absolute;
  bottom: 0;
  right: 0;
  background: red;
  font-size: var(--fs-sm-400);
  color: #fff;
  font-weight: 700;
  bottom: -18px;
  right: -5px;
  padding: 0.4rem 1rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(173deg, white 0%, #ec5f5c 100%);
  background: -webkit-gradient(linear, right top, left top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to left, #ff416c, #ff4b2b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mentor .mentor-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.mentor .mentor-img {
  width: 45px;
}

.mentor .mentor-text {
  font-weight: 600;
}

.mentor .mentor-item + .mentor-item {
  -webkit-margin-before: 1.3rem;
          margin-block-start: 1.3rem;
}

@media screen and (min-width: 1000px) {
  .mentor .mentor-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5rem;
  }
  .mentor .img-holder {
    display: block;
    margin-bottom: 0;
  }
  .mentor .mentor-list {
    margin: 0;
    max-width: 500px;
  }
}

.offer {
  padding-block: 3rem;
}

.offer .offer-title {
  margin-inline: auto;
  margin-bottom: 2rem;
  max-width: 330px;
}

.offer .offer-list {
  margin-bottom: 3rem;
}

.offer .offer-item + .offer-item {
  margin-top: 1rem;
}

.offer .offer-item {
  border: 1px solid rgba(17, 17, 17, 0.3);
  background: #c0b491;
  /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #FFFFD5;
  /* fallback for old browsers */
  border-radius: 15px;
  padding: 1rem 1rem;
  max-width: 345px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.offer .offer-item .offer-text {
  text-align: center;
  font-weight: 600;
}

.offer .offer-item .offer-number {
  position: absolute;
  top: 50%;
  left: -16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 1.39rem;
  font-weight: 600;
  display: inline-block;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  text-align: center;
  background: #ff416c;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ff4b2b), to(#ff416c));
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-gradient(linear, right top, left top, from(#ff416c), to(#ff4b2b));
  background: linear-gradient(to left, #ff416c, #ff4b2b);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media screen and (min-width: 375px) {
  .offer .offer-item {
    padding: 1rem 1.5rem;
  }
}

.questions {
  padding-block: 3rem;
}

.questions .questions-title {
  margin-bottom: 1.5rem;
}

.questions .questions-item + .questions-item {
  border-top: 1px solid #ff0000;
}

.questions .questions-item:first-child {
  border-top: 1px solid #ff0000;
}

.questions .questions-item:last-child {
  border-bottom: 1px solid #ff0000;
}

.questions .questions-item {
  padding-block: 2rem;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 1rem;
}

.why-me {
  padding-block: 3rem;
}

.why-me .why-me-title {
  margin-bottom: 1.5rem;
}

.why-me .why-me-item + .why-me-item {
  margin-top: 1rem;
}

.why-me .why-me-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ff0000;
  border-radius: 15px;
  padding-inline: 1rem;
  height: 8rem;
  text-align: center;
  max-width: 345px;
  width: 95%;
  margin: 0 auto;
}

.why-me .why-me-item .why-me-text {
  text-align: center;
  font-weight: 600;
}

.my-services {
  padding-block: 3rem;
}

.my-services .my-services-title {
  margin-bottom: 2rem;
}

.my-services .service {
  display: block;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem 2rem;
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
  aspect-ratio: 1.3 / 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: relative;
}

.my-services .service:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.my-services .service .service-holder {
  z-index: 10;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-services .service .bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.my-services .service .bg-img-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.4))), url("../src/img/sakura.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../src/img/sakura.jpg");
}

.my-services .service .bg-img-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../src/img/training.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../src/img/training.jpg");
}

.my-services .service .bg-img-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5))), url("../src/img/sales.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../src/img/sales.jpg");
}

.my-services .service .bg-img-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.4))), url("../src/img/finance.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../src/img/finance.jpg");
}

.my-services .service:hover .bg-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.my-services .service .service__title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer {
  background: #222;
}

.footer .footer-block {
  color: #fff;
  padding-block: 4rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-block .footer-block-item {
  border-top: 1px solid #585858;
  padding-top: 1.5rem;
  letter-spacing: 0.1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #585858;
}

.footer .footer-block .footer-block-socials {
  -webkit-box-flex: 1.2;
      -ms-flex-positive: 1.2;
          flex-grow: 1.2;
  text-align: center;
  margin-top: -47px;
}

.footer .footer-block .footer-block-socials span {
  text-transform: uppercase;
  margin-right: 0.4rem;
  font-size: 1.5rem;
}

.footer .footer-block .footer-block-socials a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.footer .footer-block .footer-block-socials a:hover {
  color: #ff0000;
}

.footer .footer-block .footer-block-socials a:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer .footer-block .footer-block-socials i {
  margin: 0 0.5rem;
  -webkit-transition: 0.15s all ease-out;
  transition: 0.15s all ease-out;
}

@media screen and (max-width: 768px) {
  .footer .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-block: 2rem 3rem;
  }
  .footer .footer-block .footer-block-socials {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
    margin-bottom: 1rem;
  }
  .footer .footer-block .footer-block-item:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 1rem;
  }
  .footer .footer-block .footer-block-item:last-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    border-top: unset;
    padding-top: 1rem;
  }
}

.banner {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.banner.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.banner-left .header-title {
  -webkit-animation: slideInRight 1s ease-out;
          animation: slideInRight 1s ease-out;
}

.reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.offer {
  overflow-x: hidden;
}

.whom,
.mentor,
.offer,
.questions,
.why-me {
  border-bottom: 1px solid rgba(89, 89, 89, 0.15);
  padding-block: 3rem 5rem;
}

@media screen and (min-width: 1000px) {
  .why-me .why-me-item {
    max-width: 420px;
    padding-inline: 2rem;
  }
  .my-services .service .service__title {
    font-size: 2rem;
  }
  .h3-title {
    margin-bottom: 2rem !important;
  }
  :root {
    --fs-600: 2.3rem;
  }
  .text-item {
    font-size: 1.2rem !important;
  }
  .button-goods {
    font-size: 1.15rem;
  }
  .offer .offer-item {
    max-width: 430px;
    padding: 1rem 2.5rem;
  }
  .offer .offer-title {
    max-width: 450px;
  }
}
/*# sourceMappingURL=style.css.map */